<p *ngIf = "!(authService.getUser() | async)">Please Login</p>
<div *ngIf = "(authService.getUser() | async)">
<button mat-raised-button color = "primary" (click) = "hiddenForm = !hiddenForm">Add customer</button>
<customer-form
(update) = "add($event);hiddenForm = !hiddenForm"
[hidden] ="hiddenForm"
(closeForm) = "hiddenForm = !hiddenForm"
></customer-form>

<table mat-table [dataSource]="customers" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element; let i = index">
    <span *ngIf = "i!=rowToEdit">{{element.name}}</span>
    <mat-form-field *ngIf = "i==rowToEdit" >
      <input matInput
        [(ngModel)]="customerToEdit.name" 
        [value] = "element.name">
    </mat-form-field> 
  </td>        
</ng-container>

  <!-- education Column -->
  <ng-container matColumnDef="education">
    <th mat-header-cell *matHeaderCellDef> education </th>
    <td mat-cell *matCellDef="let element; let i = index"> 
      <span *ngIf = "i!=rowToEdit">{{element.education}}</span>
      <mat-form-field *ngIf = "i==rowToEdit" >
        <input matInput
          [(ngModel)]="customerToEdit.education" 
          [value] = "element.education">
      </mat-form-field>
      <p *ngIf = "wrongEducation[i]==true" class="wrongEducation"> Education must be between 0-24</p>        
  </ng-container>

  <!-- Income Column -->
  <ng-container matColumnDef="income">
    <th mat-header-cell *matHeaderCellDef> income </th>
    <td mat-cell *matCellDef="let element; let i = index">
    <span *ngIf = "i!=rowToEdit">{{element.income}}</span>
    <mat-form-field *ngIf = "i==rowToEdit" >
      <input matInput
        [(ngModel)]="customerToEdit.income" 
        [value] = "element.income">
    </mat-form-field>
    </td>           
</ng-container>

  <!-- delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> delete </th>
    <td mat-cell *matCellDef="let element; let i = index">  
      <button mat-raised-button color = "warn" (click) = "delete(element.id)">Delete</button>
    </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button *ngIf = "i!=rowToEdit" mat-raised-button (click) = "moveToEditState(i)">
        Edit
      </button> 
      <button *ngIf = "i==rowToEdit" mat-raised-button color="primary" (click) = "updateCustomer()">
        save
      </button> 
      <button *ngIf = "i==rowToEdit" mat-raised-button (click) = "rowToEdit = null;wrongEducation[i]=false">
        Cancel
      </button>                   
    </td>
  </ng-container> 
  
  <!-- predict Column -->
  <ng-container matColumnDef="predict">
    <th mat-header-cell *matHeaderCellDef> predict </th>
    <td mat-cell *matCellDef="let element; let i = index">  
      <button *ngIf = "!element.result" mat-raised-button color="primary" (click) = "sendData(i,element.education,element.income)">predict</button>
      <div *ngIf = "element.result && !element.saved">
      <button mat-raised-button color="accent" (click) = "saveResult(i,element.id,element.result)">Save</button>
      <button mat-raised-button (click) = "element.result = null" >Cancel</button>
    </div>
    <b *ngIf = "element.saved">saved</b>
    </td>
  </ng-container>

  <!-- result Column -->
  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> result </th>
    <td mat-cell *matCellDef="let element; let i = index">  
     <b [ngClass]="element.result=='will pay' ? 'good' : 'bad'">{{element.result}}</b>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

